@model IEnumerable<Models.Framework.Category>
<style>
li {
   z-index:2;
}   
</style>
<div id="menu" >
    <ul>
        <li>
            <a href="#"> SHOP ACCESSORIS</a>
            <ul class="sub-menu">
                <li><a href="#"> VIEW ALL</a></li>
                <li><a href="#"> SCARVES</a></li>
                <li><a href="#"> HANDBAGS</a></li>
            </ul>
        </li>

        <li>
            <a href="#"> SHOP BOTTOMS</a>
            <ul class="sub-menu">
                <li><a href="#"> VIEW ALL</a></li>
                <li><a href="#"> BOTTOMS</a></li>
                <li><a href="#"> JEANS</a></li>
            </ul>
        </li>

        <li>
            <a href="#"> SHOP CLOTHING</a>
            <ul class="sub-menu">
                <li><a href="#"> VIEW ALL</a></li>
                <li><a href="#"> SWEATERS</a></li>
                <li><a href="#"> T-SHIRTS</a></li>
            </ul>
        </li>

        <li>
            <a href="#"> SHOP FOOTWEAR</a>
            <ul class="sub-menu">
                <li><a href="#"> VIEW ALL</a></li>
                <li><a href="#"> CROCS</a></li>
                <li><a href="#"> HEELS</a></li>
            </ul>
        </li>
    </ul>
</div>